body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    background-color: aliceblue;
}

header {
    min-height: 15vh;
    border: 2px solid black;
    width: 90vw;
    margin: 20px auto;
    background-color: antiquewhite;
}

section {
    min-height: 30vh;
    display: flex;
    justify-content: space-evenly;
}

#aboutMe {
    min-height: 50vh;
    padding: 30px;
    background-color: aliceblue;
}

#aboutMe img {
    margin: auto;
    min-height: 10vh;
    max-height: 40vh;
    min-width: 20vw;
    max-width: 40vw;
    border-radius: 50%;
}

#aboutMe div {
    width: 55vw;
    text-align: left;
    line-height: 28px;
    font-size: 1vw;
}

#aboutMe h2 {
    text-align: center;
    width: auto;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 0 100px;
}

aside {
    background-color: antiquewhite;
    width: 30vw;
    display: inline-block;
    border: 2px solid black;
    min-height: 40vh;
}
#projects h2 {
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 20px 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
}

a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    background-color: rgb(56, 56, 255);
    color: white;
}

a:hover {
    background-color: rgba(18, 18, 245, 0.7);
}

@media screen and (max-width: 1000px) {
    section {
        min-height: 50vh;
    }

    #aboutMe {
        min-height: 50vh;
        height: auto;
    }
    #aboutMe div {
        font-size: 16px;;
    }
    aside {
        height: auto;
    }

  }
  
  @media screen and (max-width: 680px) {
    
    section {
        display: block;
        height: auto;
    }
    #aboutMe img {
        display: block;
        margin: 20px auto;
        max-height: 40vh;
        max-width: 50vw;
        height: auto;
    }
    #aboutMe {
        min-height: 50vh;
        height: auto;
    }
    
    #aboutMe div {
      background-color: lavender;
      display: block;
      width: 90vw;
      font-size: 1.5vh;
      height: auto;
    }

    aside {
        display: block;
        width: 80vw;
        margin: 20px auto;
        height: auto;
    }
  }