<h2 class="mat-display-4">HTML CSS Projects</h2>
<p>This series of projects was designed as general practice of HTML and CSS principles and made early in my experience learning coding. For more detailed front-end application see my angular projects.</p>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Documentation Page">
    <h3>Technical Documentation Page</h3>
    <div class="tab">
      <div>
        <p> A technical project to explain multiple concepts relating to HTML properties. </p>
        <a href="https://jkmor31.github.io/HTML-TechnicalDocumentationPage-Project/">View Project</a>
      </div>
      <img src="../../assets/images/documentation.PNG" alt="documentation page"/>
    </div>
  </mat-tab>
  <mat-tab label="Survey Page">
    <h3>General Survey Page</h3>
    <div class="tab">
      <div>
        <p> A technical project to explain multiple concepts relating to HTML properties. </p>
        <a href="https://jkmor31.github.io/HTML-Survey-Project/">View Project</a>
      </div>
      <img src="../../assets/images/survey.PNG" alt="survey page"/>
    </div>
  </mat-tab>
  <mat-tab label="Tribute Page">
    <h3>Tribute Page</h3>
    <div class="tab">
      <div>
        <p> A technical project to explain multiple concepts relating to HTML properties. </p>
        <a href="https://jkmor31.github.io/HTML-TributePage-Project/">View Project</a>
      </div>
      <img src="../../assets/images/tribute.PNG" alt="Tribute page"/>
    </div>
  </mat-tab>
  <mat-tab label="Product Landing Page">
    <h3>Product Landing Page</h3>
    <div class="tab">
      <div>
        <p> A technical project to explain multiple concepts relating to HTML properties. </p>
        <a href="https://jkmor31.github.io/HTML-ProductLandPage-Project /">View Project</a>
      </div>
      <img src="../../assets/images/product.PNG" alt="Product Landing Page"/>
    </div>
  </mat-tab>
</mat-tab-group>
