@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&&family=Work+Sans:wght@300;400;500&family=Merriweather&family=Montserrat&family=Playfair+Display&display=swap");

// ? 1. Default theme
$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-amber, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

// ? 2. Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// ? 3. Define a custom heading typography config
$heading-font-family: "'Work Sans', sans-serif";
$heading-font-small: "'Playfair Display', serif";
$heading-font-medium: "'Montserrat', sans-serif";
$heading-font-large: "'Merriweather', serif";
$heading-font-title: "'Vollkorn', serif";
$typography: mat-typography-config(
  $display-4: mat-typography-level(48px, $font-family: $heading-font-large),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-medium),
  $display-2: mat-typography-level(34px, $font-family: $heading-font-small),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(38px, $font-family: $heading-font-title),
);