<section>
    <h1 class="mat-display-4">Welcome to my Github Page</h1>
    <mat-card>
      <h2 class="mat-display-2">About Me</h2>
      <p>
        I am a contracted Software Developer for Talent Path. As part of the
        training process, Talent Path provided a three-month intensive training
        program to enhance my skills as a developer and prepare me for the
        professional world. My area of focus during the training was following the
        MEAN stack (Mongo, Express, Angular, and Node) and creating a capstone
        project to demonstrate my knowledge.
      </p>
      <p>
        As you may see from my background, I originally pursued a career in
        medicine. I am a problem solver and I have always loved challenges.
        Science and medicine provided that but never to the degree as when I first
        started learning code. Since then, I've found that there is an endless
        supply of problems waiting to be solved and I'm ready to take off in my
        career as a developer.
      </p>
    </mat-card>
  </section>